<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111963350584-492gaors1qqr5rtuulohlgve82c558c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111963350584-492gaors1qqr5rtuulohlgve82c558c8</string>
	<key>API_KEY</key>
	<string>AIzaSyBEkYK4e-HfWwPSXHo5wtfBmQmFONMlAs4</string>
	<key>GCM_SENDER_ID</key>
	<string>111963350584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iRogerz.twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-194b1</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-194b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111963350584:ios:039718daa3d04e65a8e8cd</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-194b1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>